@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..600&family=Manrope:wght@400..700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
}

:root {
  --main-font: "Manrope";
  --secondary-font: "Inter";

  --midnight: #101828;
  --manatee: #8d929a;
  --royal: #3470ff;
  --persian: #0b44cd;
  --hawkes: #dadde1;
  --solitude: #f2f4f7;
  --smoke: #f7f7f7;

  font-family: var(--main-font);
  color: var(--midnight);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

picture,
img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}
